@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p1>Project PharmaSafe Chain</p1>
    <p1>
        @Html.ActionLink("Developer Identity", "Identity", "User")
    </p1>
    
</div>
